div.filters
  div.filter__container
    p.filter__label Сортировать по:
    select.filter__select
      option Цена по возростанию
      option Цена по убыванию
  div.filter__container
    p.filter__label Материал:
    select.filter__select
      option Металл
      option Дерево
      option Пластик
