article.goods
  section.product
    div.product__sale
      span.sale__text Скидка
    img(src="img/1.png" alt="product")
    p.product__code L422WH
    h4.product__name Ручка дверная
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/basket.svg" alt="basket").action__icon
      img(src="img/like.svg" alt="like").action__icon
  section.product
    div.product__sale
      span.sale__text Скидка
    img(src="img/2.png" alt="product")
    p.product__code L422WH
    h4.product__name Ручка, нержавеющая сталь
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/done.svg" alt="basket").action__icon
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/3.png" alt="product")
    h4.product__name Стандартные петли
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/4.png" alt="product")
    h4.product__name Петля со стопором
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/1.png" alt="product")
    h4.product__name Ручка дверная
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/2.png" alt="product")
    h4.product__name Ручка, нержавеющая сталь
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/3.png" alt="product")
    h4.product__name Стандартные петли
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/4.png" alt="product")
    h4.product__name Петля со стопором
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/1.png" alt="product")
    h4.product__name Ручка дверная
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/2.png" alt="product")
    h4.product__name Ручка, нержавеющая сталь
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/3.png" alt="product")
    h4.product__name Стандартные петли
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  section.product
    img(src="img/4.png" alt="product")
    h4.product__name Петли со стопором
    div.costs__container
      span.product__cost.product__cost--sale 400₽
      span.product__cost 355₽
    div.actions__container
      img(src="img/like.svg" alt="like").action__icon
  img(src="img/loader.svg" alt="loading").goods__loader
