header.header
  nav.menu
    ul.menu__list
      li.menu__item
        a(href="#").menu__link Главная
      li.menu__item
        a(href="#").menu__link Системы хранения
      li.menu__item
        a(href="#").menu__link.menu__link--active Комплекты стелажных систем
  h2.h-category Комплекты стелажных систем
  article.banner
    section.banner-info
      h2.banner__h Подобрать размер?
      p.banner__text Простой и удобный конструктор гардеробных
      button.banner__btn примерить в конструкторе
    img(src="img/header-image.png" alt="laptop")

