@font-face {
  font-family: 'SF UI Text Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Regular'), url('../../fonts/SFUIText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Medium'), url('../../fonts/SFUIText-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Text Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Semibold'), url('../../fonts/SFUIText-Semibold.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Text Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Bold'), url('../../fonts/SFUIText-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF Pro Display Bold'), url('../../fonts/SFProDisplay-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF Pro Display Semibold'), url('../../fonts/SFProDisplay-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Pro Display Medium'), url('../../fonts/SFProDisplay-Medium.woff') format('woff');
}
